@layer utility {
    /* DISPLAY */
    .flex {
        display: flex;
        flex-direction: row;
    }

    .flex-1 {
        flex: 1;
    }
    .column {
        flex-direction: column;
    }

    .wrap {
        flex-wrap: wrap;
    }



    .w-full {
        width: 100%;
    }
    .w-fitcontent{
        width: fit-content;
    }

    .h-parallax {
        min-height: 100vh;
    }

    .h-full {
        height: 100%;
    }

    .overflow-y {
        overflow-y: auto;
    }

    .pointer {
        cursor: pointer;
    }

    .text-center {
        text-align: center;
    }

    .word-wrap {
        word-wrap: anywhere;
    }

    .underline {
        text-decoration: underline;
        text-underline-offset: 0.2rem;
    }
}