@layer component {
    .tooltip {
        position: relative;
    }

    .tooltip .tooltip-text {
        visibility: hidden;
        
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        translate: -50%;
        
        width: 120px;
        
        border-radius: 6px;
        background-color: var(--bg-transparency-color);

        text-align: center;
        color: #fff;
        font-size: 14px;

    }

    .tooltip:hover .tooltip-text {
        visibility: visible;
    }

}